@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

[epub|type~="z3998:salutation"],
[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:salutation"] + p{
	text-indent: 0;
}

section > header{
	margin-top: 3em;
}

/* Centered dedications */
section[epub|type~="dedication"]{
	font-variant: small-caps;
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:verse"] header p{
	text-align: center;
}

[epub|type~="z3998:verse"] header p span{
	display: initial;
	padding: initial;
	text-indent: initial;
}

[epub|type~="z3998:verse"] div + div{
	margin-top: 3em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i4{
	padding-left: 5em;
	text-indent: -1em;
}

p span.right{
	text-align: right;
}

p[xml|lang],
blockquote[xml|lang]{
	font-style: italic;
}

/* Don't italicize Middle English like Chaucer */
blockquote[xml|lang="enm"]{
	font-style: normal;
}

#chapter-4 ul{
	list-style: none;
}

table[epub|type~="z3998:drama"]{
	border-collapse: collapse;
	margin: 1em auto;
	width: 100%;
}

[epub|type~="z3998:drama"] tr:first-child td{
	padding-top: 0;
}

[epub|type~="z3998:drama"] tr:last-child td{
	padding-bottom: 0;
}

[epub|type~="z3998:drama"] td{
	padding: .5em;
	vertical-align: top;
}

[epub|type~="z3998:drama"] td:last-child{
	padding-right: 0;
}

[epub|type~="z3998:drama"] td:first-child{
	padding-left: 0;
}

[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
	hyphens: none;
	-epub-hyphens: none;
	text-align: right;
	width: 20%;
}

[epub|type~="z3998:persona"]{
	font-variant: all-small-caps;
}

@media(max-width: 400px){
	[epub|type~="z3998:drama"] td,
	[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"],
	[epub|type~="z3998:drama"] td:last-child{
		display: block;
		padding: 0;
		text-align: initial;
		width: 100%;
	}

	[epub|type~="z3998:drama"] td[epub|type~="z3998:persona"]{
		break-after: avoid;
		margin-top: 1.5em;
	}
}
